.delay{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
}
#delay{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.btn{
    margin-top: 10px;
    width: 200px;
    height: 20px;
}
.field{
    width: 200px;
}